div{background-color: black;
    height: 600px;
    
}
li{
    color: white;
    font-size: xx-large;
    border-bottom: solid black;
    border-top: solid black;
    padding: 29px 0px 29px 0px;
    border-left: solid black;
    
 

}
ol{
    background-color: rgb(39, 36, 36);
    
    
}